{% extends 'tm_main/basic_template.html' %}

{% block main_content %}
  {% if user.is_authenticated %}
    <h1>Index page here.</h1>
  {% else %}
    <h1>Please</h1><h1>
    <a class="nav-link" href="{% url 'tm_main:login' %}">log in</a></h1>
    <h1> to see page content.</h1>
  {% endif %}
{% endblock %}