<!DOCTYPE html>
{% load staticfiles %}
{% load bootstrap4 %}

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'tm_main/css/bootstrap.min.css' %}">
    <!-- Login CSS -->
    <link rel="stylesheet" href="{% static 'tm_main/css/login.css' %}">

    <title>Task manager</title>
  </head>
  <body class="text-center">

    <form class="form-signin" method="post">
      {% csrf_token %}

      {% bootstrap_form form %}
      <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
      <a class="nav-link" href="{% url 'tm_main:signup' %}">Sign up</a>
      <p class="mt-5 mb-3 text-muted">&copy; 2018</p>
    </form>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="{% static 'tm_main/js/bootstrap.min.js' %}"></script>
  </body>
</html>