{% extends 'tm_main/basic_template.html' %}
{% load staticfiles %}

{% block scripts %}
  <script crossorigin="anonymous" integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  {{ form.media }}
{% endblock %}

{% block main_content %}
  <div class="col-md-8 order-md-1">
    <h1 class="mb-3">Editing task</h1>
    <hr class="mb-4">

    <form class="needs-validation col-12" id="UserAddForm" method="post" action="{% url 'tm_main:add_user' form.id.value %}">{% csrf_token %}</form>

    <form class="needs-validation" method="post" action="{% url 'tm_main:edit_task' form.id.value %}">

      {% csrf_token %}

      <div class="row">
        <div class="col-md-10 mb-3">
          <label for="name">Name <span class="text-muted">(Optional)</span></label>
          <input class="form-control" name="name" id="name" type="text" value="{% if form.name.value != None %}{{form.name.value}}{% endif %}">
        </div>
        <div class="col-md-2 mb-3">
          <label for="id">Id</label>
          <input readonly class="form-control" name="id" id="id" type="text" value="{{form.id.value}}">
        </div>
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" name="description" id="description" maxlength="250">{% if form.description.value != None %}{{form.description.value}}{% endif %}</textarea>
      </div>

      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="start_datetime">Start datetime <span class="text-muted">(Optional)</span></label>
          <input class="form-control datetimepicker-input" id="start_datetime" name="start_datetime" type="datetime-local" value="{% if form.start_datetime.value != None %}{{form.start_datetime.value|date:'d.m.Y H:i'}}{% endif %}">
        </div>
        <div class="col-md-6 mb-3">
          <label for="end_datetime">End datetime <span class="text-muted">(Optional)</span></label>
          <input class="form-control datetimepicker-input" id="end_datetime" name="end_datetime" type="datetime-local" value="{% if form.end_datetime.value != None %}{{form.end_datetime.value|date:'d.m.Y H:i'}}{% endif %}">
        </div>
      </div>

      {% if form.id.value != 0 %}

      <hr class="mb-4">

      <h4 class="d-flex justify-content-between align-items-center mb-3 text-black">Users</h4>
      <div class="row">
        {% for user in users %}
          <div class="col-xl-3">
            <div class="card mb-3">
              <div class="card-body">
                <p class="card-text text-lg">Login: {{user.login}}</p>
                <p class="card-text text-muted">id: {{user.id}}</p>
                <button type="button" class="btn btn-sm" onclick="location.href='/tasks/{{form.id.value}}/userremove/{{user.id}}'">Remove</button>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>

      <div>
        <label for="user_info">Enter user login or id to add user</label>
        <input class="form-control" id="user_info" name="user_info" type="text" form="UserAddForm">
        <canvas height="10"></canvas>
        <button class="btn btn-outline-secondary btn-lg btn-block" form="UserAddForm">Add subuser</button>
      </div>

      <hr class="mb-4">

      <!--<div class="row">
        <div class="col-md-6 mb-3">
          <label for="start_datetime">Start datetime <span class="text-muted">(Optional)</span></label>
          <input class="form-control datetimepicker-input" id="start_datetime" name="start_datetime" type="datetime-local" value="{{form.start_datetime.value}}" data-toggle="datetimepicker" data-target="#start_datetime">
          {{ form.start_datetime}}
          <div class="invalid-feedback">
            Wrong datetime.
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label for="end_datetime">End datetime <span class="text-muted">(Optional)</span></label for="end_datetime">
          <input class="form-control datetimepicker-input" id="end_datetime" name="end_datetime" type="datetime-local" value="{{form.end_datetime.value}}" data-toggle="datetimepicker" data-target="#end_datetime">
          <div class="invalid-feedback">
            Wrong datetime.
          </div>
        </div>
      </div>-->

      {% if form.ownertask_id.value == None and form.script_id.value == None and subtasks_info|length == 0 %}

        <a class="btn btn-outline-secondary btn-lg btn-block" onclick="location.href='/tasks/{{form.id.value}}/subtaskadd'">Add subtask</a>

        {% if form.start_datetime.value != None and form.end_datetime.value != None %}
        <a class="btn btn-outline-secondary btn-lg btn-block" onclick="location.href='/tasks/{{form.id.value}}/scriptadd'">Make periodical</a>
        {% endif %}

      {% elif form.script_id.value == None %}

        {% if form.ownertask_id.value != None %}
          <div class="col-md-12">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
              <span class="text-black">Ownertask</span>
            </h4>
            <ul class="list-group mb-3">
              <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                  <h6 class="my-0">{{ownertask_info.name}}</h6>
                  <small class="text-muted">{{ownertask_info.description}}</small>
                </div>
                <span class="text-muted">Id: {{ownertask_info.id}}</span>
              </li>
              <a class="btn btn-sm btn-secondary" onclick="location.href='/tasks/{{ownertask_info.id}}'">Edit</a>
            </ul>
          </div>
        {% endif %}

        <div class="col-md-12">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-black">Subtasks</span>
            <span class="badge badge-secondary badge-pill">{{subtasks_info|length}}</span>
          </h4>
          <ul class="list-group mb-3">
            {% for subtask in subtasks_info %}
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">{{subtask.name}}</h6>
                <small class="text-muted">{{subtask.description}}</small>
              </div>
              <span class="text-muted">Id: {{subtask.id}}</span>
            </li>
            <div class="btn-group">
                <a class="btn btn-sm btn-outline-secondary btn-block" onclick="location.href='/tasks/{{subtask.id}}'">Edit</a>
                <a class="btn btn-sm btn-secondary" onclick="location.href='/tasks/{{subtask.id}}/remove'">Remove</a>
            </div>
            {% endfor %}
          </ul>
        </div>
        <a class="btn btn-outline-secondary btn-lg btn-block" onclick="location.href='/tasks/{{form.id.value}}/subtaskadd'">Add subtask</a>

      {% else %}

        <h2 class="mb-3">Periodical settings</h2>
        <div class="row justify-content-center">
          <div class="col-md-3 mb-3">
            <label for="days_delta">Repeat every * days</label>
            <input class="form-control" name="days_delta" id="days_delta" type="number" min="1" value="{{form.days_delta.value}}" required>
          </div>
          <div class="col-md-2 mb-3">
            <label for="script_id">Id</label>
            <input readonly class="form-control" name="script_id" id="script_id" type="text" value="{{form.script_id.value}}">
          </div>
        </div>
        <a class="btn btn-outline-secondary btn-lg btn-block" onclick="location.href='/tasks/{{form.id.value}}/scriptremove'">Remove periodicity</a>

      {% endif %}
      {% endif %}

      <hr class="mb-4">

      <button class="btn btn-primary btn-lg btn-block" type="submit">
        {% if form.id.value == 0 %}
          Add
        {% else %}
          Edit
        {% endif %}
      </button>
      <a class="btn btn-primary btn-lg btn-block" onclick="location.href='/tasks/{{form.id.value}}/remove'">Remove</a>
    </form>

    {% for e in form.non_field_errors %}
      <div class="alert alert-danger">{{e}}</div>
    {% endfor %}

  </div>
{% endblock %}