{% extends 'tm_main/basic_template.html' %}

{% block main_content %}
  <div class="album py-5 col-10">
    <h1 class="mb-3">Tasks list</h1>
    <hr class="mb-4">

    <form id="form" name="form" method="get" action="{% url 'tm_main:show_tasks'%}" novalidate>
        {% csrf_token %}

        <div class="btn-group d-flex justify-content-center">
          <input type="submit" name="sort_mode" class="btn btn-secondary col-3" value="No sort">
          <input type="submit" name="sort_mode" class="btn btn-secondary col-3" value="Sort by name">
          <input type="submit" name="sort_mode" class="btn btn-secondary col-3" value="Sort by id">
          <input type="submit" name="sort_mode" class="btn btn-secondary col-3" value="Sort by status">
        </div>

        <canvas height="20"></canvas>

        <div class="btn-group-toggle d-flex justify-content-around" data-toggle="buttons">
          <label class="btn btn-outline-info {% if show_active %}active{% endif %} col-2">
            <input name="show_button" id="show_active" type="checkbox" value="show_active" {% if show_active %}checked{% endif %} onchange="submit_form()"> ACTIVE
          </label>
          <label class="btn btn-outline-secondary {% if show_inactive %}active{% endif %} col-2">
            <input name="show_button" id="show_inactive" type="checkbox" value="show_inactive" {% if show_inactive %}checked{% endif %} onchange="submit_form()"> INACTIVE
          </label>
          <label class="btn btn-outline-dark {% if show_stopped %}active{% endif %} col-2">
            <input name="show_button" id="show_stopped" type="checkbox" value="show_stopped" {% if show_stopped %}checked{% endif %} onchange="submit_form()"> STOPPED
          </label>
          <label class="btn btn-outline-success {% if show_completed %}active{% endif %} col-2">
            <input name="show_button" id="show_completed" type="checkbox" value="show_completed" {% if show_completed %}checked{% endif %} onchange="submit_form()"> COMPLETED
          </label>
          <label class="btn btn-outline-danger {% if show_overdue %}active{% endif %} col-2">
            <input name="show_button" id="show_overdue" type="checkbox" value="show_overdue" {% if show_overdue %}checked{% endif %} onchange="submit_form()"> OVERDUE
          </label>
        </div>
    </form>

    <hr class="mb-4">
    <button type="button" class="btn btn-lg col-12" onclick="location.href='/tasks/0'">Add</button>
    <canvas height="20"></canvas>
    <div class="container col-12">
      <div class="row">

        {% for task in tasks_info %}
          <div class="col-xl-6">
            <div class="card mb-4 shadow-sm">
              {% if task.status == 'ACTIVE' %}
              <div class="card-body" style="background:white">
              {% elif task.status == 'INACTIVE' or task.status == 'STOPPED' %}
              <div class="card-body" style="background:#464a464d">
              {% elif task.status == 'COMPLETED' %}
              <div class="card-body" style="background:#73e36c1a">
              {% else %}
              <div class="card-body" style="background:#e428391a">
              {% endif %}
                <div class="row justify-content-center">
                  <h2>{{task.name}}</h2>
                </div>
                <p class="card-text">{{task.description}}</p>
                <div class="row justify-content-between">
                  <p class="card-text ml-2">Status: {{task.status}}</p>
                  <p class="card-text mr-2">Id: {{task.id}}</p>
                </div>
                <div class="row justify-content-between">
                  <p class="card-text text-muted small ml-2">Start: {{task.start_datetime}}</p>
                  <p class="card-text text-muted small mr-2">End: {{task.end_datetime}}</p>
                </div>
                <div class="d-flex justify-content-between align-items-center">

                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-success" onclick="location.href='/tasks/{{task.id}}/status/COMPLETED'">Complete</button>
                    {% if task.status != 'COMPLETED' and task.status != 'OVERDUE' and task.status != 'INACTIVE' %}
                        {% if task.status == 'STOPPED' %}
                          <button type="button" class="btn btn-sm btn-outline-info" onclick="location.href='/tasks/{{task.id}}/status/ACTIVE'">Resume</button>
                        {% else %}
                          <button type="button" class="btn btn-sm btn-outline-dark" onclick="location.href='/tasks/{{task.id}}/status/STOPPED'">Stop</button>
                        {% endif %}
                    {% endif %}
                    <button type="button" class="btn btn-sm btn-outline-danger" onclick="location.href='/tasks/{{task.id}}/status/OVERDUE'">Overdue</button>
                  </div>

                  <div class="btn-group">
                    <button type="button" class="btn btn-light" onclick="location.href='/tasks/{{task.id}}'">Show|Edit</button>
                    <button type="button" class="btn btn-light" onclick="location.href='/tasks/{{task.id}}/remove'">Remove</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}

      </div>
    </div>
  </div>
</div></div></div>
<script>

    function test_function() {
        let f = document.getElementById('show_active_label').onclick;
        document.getElementById('show_active_label').onclick = function(){f.call(); submit_form();};
    }

    function reformer(){
        alert('ololo')
        let f = document.getElementById('show_active_label').onclick;
        document.getElementById('show_active_label').onclick = function(){f.call(); submit_form();};
    }

    function submit_form(){
        document.getElementById("form").submit();
    }

</script>

{% endblock %}