{% extends 'tm_main/basic_template.html' %}
{% load staticfiles %}

{% block main_content %}
  <div class="col-md-8 order-md-1">
    <h1 class="mb-3">Editing script</h1>
    <hr class="mb-4">

    <form class="needs-validation" novalidate>

      <div class="mb-3">
        <label for="name">Name <span class="text-muted">(Optional)</span></label></label>
        <div class="input-group">
          <input type="text" class="form-control" id="name" placeholder="" required>
          <div class="invalid-feedback" style="width: 100%;">
            Login is required.
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label for="description">Description <span class="text-muted">(Optional)</span></label></label>
        <textarea class="form-control" id="description" rows="3"></textarea>
      </div>

      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="start_static_days">Start static days</label>
          <input type="number" min="1" class="form-control" id="start_static_days" placeholder="" value="">
        </div>
        <div class="col-md-6 mb-3">
          <label for="end_static_days">End static days</label>
          <input type="number" min="1" class="form-control" id="end_static_days" placeholder="" value="">
        </div>
          <div class="col-md-6 mb-3">
          <label for="start_dynamic_days">Start dynamic days <span class="text-muted">(Optional)</span></label>
          <input type="number" min="1" class="form-control" id="start_dynamic_days" placeholder="" value="">
        </div>
        <div class="col-md-6 mb-3">
          <label for="end_dynamic_days">End dynamic days <span class="text-muted">(Optional)</span></label>
          <input type="number" min="1" class="form-control" id="end_dynamic_days" placeholder="" value="">
        </div>
      </div>

      <div class="mb-3">
        <label for="status">Statuses <span class="text-muted">(Optional)</span></label>
        <input type="text" class="form-control" id="status" placeholder="">
      </div>
      <button class="btn btn-primary btn-lg btn-block" type="submit">Edit</button>
      <button class="btn btn-primary btn-lg btn-block">Remove</button>
    </form>

  </div>
{% endblock %}