{% extends 'tm_main/basic_template.html' %}
{% load staticfiles %}

{% block main_content %}

  <div class="col-md-8 order-md-1">
    <h1 class="mb-3">Editing user</h1>
    <hr class="mb-4">
    <form class="needs-validation" method="post" action="{% url 'tm_main:edit_myself' %}">

      {% csrf_token %}

      <div class="row">
        <div class="col-md-10 mb-3">
          <label for="email">Email <span class="text-muted">(Optional)</span></label>
          <input class="form-control" name="email" id="email" type="email" value="{{form.email.value}}">
        </div>
        <div class="col-md-2 mb-3">
          <label for="id">Id</label>
          <input readonly class="form-control" name="id" id="id" type="text" value="{{form.id.value}}" required>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="first_name">First name <span class="text-muted">(Optional)</span></label>
          <input class="form-control" name="first_name" id="first_name" type="text" maxlength="128" value="{{form.first_name.value}}">
        </div>
        <div class="col-md-6 mb-3">
          <label for="last_name">Last name <span class="text-muted">(Optional)</span></label>
          <input class="form-control" name="last_name" id="last_name" type="text" maxlength="128" value="{{form.last_name.value}}">
        </div>
      </div>

      <hr class="mb-4">
      <button class="btn btn-primary btn-lg btn-block" type="submit" value="OK">Edit</button>

    </form>

    {% for e in form.non_field_errors %}
    <div class="alert alert-danger">{{e}}</div>
    {% endfor %}

  </div>


{% endblock %}