{% extends 'tm_main/basic_template.html' %}
{% load staticfiles %}

{% block main_content %}
  <div class="table-responsive">
    <h1 class="mb-3">Users list</h1>
    <hr class="mb-4">
    <table class="table table-striped table-sm">
      <thead>
      <tr>
        <th>Id</th>
        <th>Login</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
      </tr>
      </thead>
      <tbody>
      {% for user in users_info %}
        <tr>
          <td>{{user.id}}</td>
          <td>{{user.login}}</td>
          <td>{{user.first_name}}</td>
          <td>{{user.last_name}}</td>
          <td>{{user.email}}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}